/* BuildingConstructionApproval.css */
/* .container {
    margin-top: 20px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1e73d5;
  } */

  
  .title {
    color: #333;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: #d9d9d9;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .submit-btn:hover {
    background-color: #ffffff;
  }
  .header{width:960px; margin:0 auto; overflow: hidden; }
  .header-left-panel{width:560px; float:left;}
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  .logo-wrap{width:350px; background:#f3f3ee; overflow:hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
  .logo{width:280px; float:left; margin-left:20px; margin-top:30px;}
  .logo h2{font-family: 'Ropa Sans', sans-serif; font-size:18px; color:#1e73d5; text-transform:uppercase; font-weight:normal; text-align: center;}
  .logo h1{color:#50453b; font-size:42px; padding-bottom:22px; text-align: center;font-family: 'Gill Sans', sans-serif;}
  .header-right-panel{width:400px; float:right; overflow:hidden; margin-top:30px;}
  .header-right-panel-top{width:280px; float:right;}
  .header-right-panel p{color:#1e73d5; float:right; font-size:14px; text-align:right; font-weight:normal;}